body{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
body.active{
	transform: translate3d(150px,0,0);
	-webkit-transform: translate3d(150px,0,0);
	-moz-transform: translate3d(150px,0,0);
	-ms-transform: translate3d(150px,0,0);
	-o-transform: translate3d(150px,0,0);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.header,.footer{position: fixed;left: 0;right: 0;text-align: center;height: 44px;line-height: 44px;z-index: 1;}
.header{top:0;display:block;height:88px;border-top:6px solid #e54a45;border-bottom: 6px solid #e54a45;margin-top:0px;background-color: #eee;}
.header h1{padding-top: 15px;font-size: 2em;font-family:"Microsoft YaHei";color: #333;text-align: left; padding-left: 75px;}
.footer{border-top: 1px solid #e73068;bottom: 0;}
.header .btn-slide-bar{width: 44px;height: 44px;float: left;cursor: pointer;line-height: 2.8;padding-top: 15px;}
.header .btn-slide-bar::before{content: "";width: 20px;height: 2px;background-color: #999;display: inline-block;box-shadow: 0 7px 0 #999, 0 -7px 0 #999;}
.wraper-page{
	text-align: center;
	display:block;
	height: 1997px;
	width: 100%;
	background: url("../images/about_bg.jpg");
	background-repeat: no-repeat;
	margin-right:auto;
	margin-left: auto;
	overflow: hidden;
}
.slide-bar{display: block;position: fixed;top: -1px;bottom: -1px;left: 0;background-color: #333;width: 150px;z-index: 2;overflow-y:auto;
	transform: translate3d(-150px,0,0);
	-webkit-transform: translate3d(-150px,0,0);
	-moz-transform: translate3d(-150px,0,0);
	-ms-transform: translate3d(-150px,0,0);
	-o-transform: translate3d(-150px,0,0);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;


}
.slide-bar ul{padding-top: 20px;position: fixed;}
.wraper-page{ height:1997px; margin:0 auto} 
@media screen and (min-width: 1201px) { 
.wraper-page {width: 1200px} 
} 
/* css 注释说明：设置了浏览器宽度不小于1201px时 abc 显示1200px宽度 */ 

@media screen and (max-width: 1200px) { 
.wraper-page {width: 1024px} 
} 
/* 设置了浏览器宽度不大于1200px时 abc 显示900px宽度 */ 

@media screen and (max-width: 900px) { 
.wraper-page {width: 740px;} 
} 
/* 设置了浏览器宽度不大于900px时 abc 显示200px宽度 */ 

@media screen and (max-width: 500px) { 
.wraper-page {width: 400px;} 
} 
.slide-bar li{padding-left: 10px;height: 40px;line-height: 40px;text-align: left;color: #fff;border-bottom: 1px solid #222;width: 140px;}
.slide-bar li a{color: #d8b235;font-weight: bold;font-size: 1.25em;line-height: 2em;}